<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A bug tracker">
    <meta name="author" content="Mon Clarence Santa cruz">
    <title>Projects</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/simple-sidebar.css">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Mon's Bug tracker</div>
        <div class="list-group list-group-flush">
            <a href="/home" class="list-group-item list-group-item-action bg-light">Home</a>
            <a href="/bugs" class="list-group-item list-group-item-action bg-light">Bugs</a>
            <a href="/projects" class="list-group-item list-group-item-action active">Projects</a>
            <a href="/members" class="list-group-item list-group-item-action bg-light">Members</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">My Profile</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Log Out</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Main Menu</button>
        </nav>

        <div class="container-fluid">
            <h1 class="mt-4">Add Project</h1>
            <form th:object="${project}" th:action="@{/project/}" method="post">
                <label>Name</label>
                <input type="text" class="form-control" th:field="*{name}"/>

                <label>Start Date</label>
                <input type="date" class="form-control" th:field="*{startDate}"/>

                <label>Description</label>
                <input type="text" class="form-control" th:field="*{description}"/>

                <label>Project Lead</label>
                <select class="form-control" th:field="*{projectLead}">
                    <option value="">No project Lead</option>
                    <option th:each="member:${freeMembers}"
                            th:value="${member.id}"
                            th:text="${member.firstName + ' ' + member.lastName}"></option>
                </select>

                <button type="submit" class="btn btn-primary right" id="create-project">Submit</button>
            </form>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>