<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A bug tracker">
    <meta name="author" content="Mon Clarence Santa cruz">
    <title>Mon's bug tracker</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/simple-sidebar.css">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Mon's Bug tracker</div>
        <div class="list-group list-group-flush">
            <a href="/home" class="list-group-item list-group-item-action bg-light">Home</a>
            <a href="/bugs" class="list-group-item list-group-item-action active">Bugs</a>
            <a href="/projects" class="list-group-item list-group-item-action bg-light">Projects</a>
            <a href="/members" class="list-group-item list-group-item-action bg-light">Members</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">My Profile</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Log Out</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Main Menu</button>
        </nav>

        <div class="container-fluid">
            <form th:object="${bug}" th:action="@{/bugResolve/}" method="post">
                <h1 th:text="${bug.project.name}"></h1>
                <h4 th:text="'Issue: ' + ${bug.description}"></h4>
                <h4 th:text="'Assigned to: ' + ${bug.member.firstName + ' ' + bug.member.lastName}"></h4>
                <input type="hidden" th:field="*{id}"/>

                <button type="submit" class="btn btn-primary right" id="update-bug">Set As Resolved</button>
            </form>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>